/* styles.css는 모든 screens폴더와 components폴더안에 있는 파일 다 import해서 쓸 것이다 
이 파일에는 모든 스크린에 공통적으로 적용되는 폰트 같은 것을 박아두는게 좋다*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* 2. 이렇게 구글 폰트에서 가져온 폰트를 스타일시트로 import 하고 쓰면된다 */

/* <Components> */
@import "components/reset.css";
@import "components/variables.css";
/* 변수 쓰고싶으면 이렇게 import를 해줘야 한다 */

/* status bar 스타일시트는 status-bar.css에 저장해 놨다 거기서 import 해왔다 
거기로 가서 status-bar 만드는 법 배워보삼 */
@import "components/nav_bar.css";
@import "components/screen_header.css";
@import "components/status-bar.css";
@import "screens/login.css";
/* 로그인 창은 요 파일에서 import해 왔다 참고! */
@import "screens/friends.css";

/* import를 할 때 중요한 것은 css는 캐스캐이딩하게 코드를 읽으므로
    font,reset,variable등 모든 css시트에서 범용적으로 쓰일 코드들을
    앞에 배치해야 한다 그래야 정상적으로 속성이 먹여진다 */
@import "components/user_component.css";
@import "components/badge.css";
@import "components/alt_screen_header.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  /*1. 바디에 이 font-family 속성을 주게 되면 위font 중 이 컴퓨터에 있는 font로
      모든 문서가 바뀌게 된다. 니꼬는 위의 애플시스템 폰트를 좋아한다 이쁘거든
      필요한 font를 찾고 싶으면 Google Font에 가보자 원하는거 찾을 수 있음
      그럼 거기서 원하는 거 찾고 Select Font 누르면 css에 첨부하는 법 나옴
      그리고 대부분의 font의 경우 굴기등의 style을 고를 수 있는데 다 고르지 말고
      쓸 것들만 골라서 가져오는게 로딩 시간을 줄일 수 있는 방법이다*/
  height: 1000vh;
  font-family: "Open Sans", sans-serif;
  /* 3. 이렇게 구글 폰트 사이트에 있는 font-family를 복붙해서 가져오자 */
}
/* body::-webkit-scrollbar {
  display: none;
} */
main {
  margin: 0px var(--horizontal-space);
}
