.chat-style {
  display: flex;
  justify-content: space-between;
}
.chat-style i:first-child {
  margin-right: 20px;
}

#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}
.chat-header {
  margin: 0px;
  padding: 40px 20px 20px 20px;
  position: fixed;
  top: 0px;
  box-sizing: border-box;
  width: 100%;
  background-color: #abc1d1;
  z-index: 1;
}
.status-bar__layer {
  z-index: 2;
}
/* z-index는 position 속성으로 화면 위에 떠 있는 엘레먼트들의 층의 순서를 정해주는
   속성이다. z-index속성을 주지 않으면 .chat header 엘레먼트가 status-bar 엘레먼트를
    덮고  있어서 status-bar 안 보인다 z-index로 레이어를 각각 1, 2 줘서 status-bar 
    나타날 수 있게 한다
    main chat 가 0층이고 header가 1층이고 status-bar 가 2층이다*/
.chat-screen__timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 25px;
}
.chat-screen__timestamp div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 30px;
  font-size: 14px;
  color: rgba(256, 256, 256, 0.8);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}

.message-row {
  width: 100%;
  display: flex;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 15px;
}
.message__author {
  display: block;
  width: 50px;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 15px;
}

.message__bubble {
  background-color: white;
  padding: 8px 13px;
  font-size: 16px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  /* 이렇게 하면 한쪽 모서리만 곡률을 없앨 수 있다 말풍선 모양처럼 만들 수 있다는 뜻 */
}
.message__info {
  display: flex;
}
.message__time {
  margin: 0px 5px;
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  opacity: 0.7;
}
.message-input {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.message-input__bubble {
  margin-top: 20px;
  background-color: #fee500;
  padding: 8px 13px;
  font-size: 16px;
  border-radius: 15px;
  border-top-right-radius: 0px;
}
.layer1 {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  bottom: 0px;
  height: 320px;
  background-color: white;
}

@keyframes MoveFromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes MoveFromRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.message-row {
  transform: translateX(-100px);
  opacity: 0;
  animation: MoveFromLeft 1.5s ease-in-out forwards;
}
.message-input {
  transform: translateX(100px);
  opacity: 0;
  animation: MoveFromRight 1.5s ease-in-out forwards;
  animation-delay: 0.75s;
}

.reply {
  position: fixed;
  bottom: 0px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 8px 22px 8px 5px;
  align-items: center;
  background-color: #f2f2f2;
}
.reply__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reply__column:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.reply__column:first-child span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  border-radius: 9px;
  font-size: 32px;
}
.reply__input {
  border: none;
  width: 280px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.reply__input::placeholder {
  font-size: 14;
  color: rgba(0, 0, 0, 0.5);
}

.reply__column:last-child {
  width: 90%;
  height: 40px;
  padding: 0px 3px 0px 10px;
  border-radius: 20px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.fa-smile {
  position: absolute;
  right: 70px;
  bottom: 15px;
  font-size: 26px;
  color: #9b9fa6;
}
.reply__enter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fee500;
}
.fa-arrow-up {
  font-size: 20px;
  color: #191919;
}

.reply:focus-within .fa-smile,
.reply:focus-within .reply__enter,
.reply:focus-within .reply__column:first-child {
  /* focus-within이라는 수도셀렉터는 "만약 이 엘레먼트 안에 focus된 엘레먼트가 있다면"
    이라는 조건을 부여한다 따라서 위 명령은 만약 .reply엘레먼트 안에 포커스 된 엘레먼트가
    있다면 .reply__column:first-child 얘한테 속성을 먹이라는 명령이다 */
  opacity: 0;
}

.reply:focus-within .reply__column:last-child {
  width: 100%;
  transform: translateX(-1%);
  justify-content: center;
}
.reply:focus-within .reply__input {
  width: 100%;
}

.fa-smile,
.reply__enter,
.reply__column:first-child {
  transition: opacity 0.5s ease-in-out;
}

.reply:focus-within .reply__input {
  width: 98%;
  transform: translateX(-13%);
}
