/* 이 스크린에서만 쓸 것들은 다 screens폴더에 있는 파일에 저장한다 */
#friends-names__display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  background-color: #fafafa;
  margin-bottom: 5px;
}
#friends-names__display span {
  margin-left: 1px;
  opacity: 0.8;
}
#friends-names__display i {
  opacity: 0.3;
}
.chats-screen,
.friends-screen {
  /* padding: 0px var(--horizontal-space); */
  /* 모든 페이지의 main에 적용되므로 styles.css에서 main에 속성을 먹이면 간편하다 */
}
.friends-screen__channel {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friends-border__underline {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.friends-screen__channel span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}
