/* 6_5  Start */
/*로그인 창의 헤더를 꾸며보자 */
.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  부모엘레먼트를  flex container로 만들어 welcome-header__text를 가운데 
      정렬시키자    */
  /* font-weight: 600; 
    이렇게 하면 폰트의 두께를 조절할 수 있긴한데 open sans 글씨체가
    600(너무 두꺼움) 밖에 없어서 그냥 기본을 쓰기로 함*/
}
/* 헤더 박스는 마진을 top으로 90px 만큼 줬고 h1과 p 같은 글자를 정렬할 때 쓰는
  text-align 속성을 center로 먹여줬다 픽셀 값 알기 위해서 page-ruler 프로그램 쓰자 */

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}
.welcome-header__text {
  width: 50%;
  opacity: 0.7;
  /* 카카오톡의 문구는 창 사이즈를 조절해도 일정한 레이아웃을 유지한다 
    그렇게 하기 위해선 width를 퍼센트로 주면 된다 창의 40%, 즉 절반만 항상
    차지하고 있어라 라는 뜻 */
  /*   opacity 0.7*/
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  padding: 10px 0;
  border: none;
  font-size: 15px;
  margin-bottom: 30px;
}
/* 이제부터 form을 꾸며보자 form을 우선 flex-container로 만들어서 로그인
      비번 창을 세로로 바꾸고 input의 패딩을 좀 줘서 창을 뚱뚱하게 만들자
      경계는 none으로 설정해서 보이지 않게 하자
      그리고 마진 바텀을 줘서 각 인풋들 사이를 조금 뛰우자
      이 속성들은 form 안에 있는 세개의 엘레먼트에 다 적용되는 속성이다
      즉 로그인 버튼도 적용되는 속성이라는거*/

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.5s ease-in-out;
}
/* 새로운 것! 이렇게 수도 엘레먼트 중에 하나인 not()을 쓰게 되면
    괄호에 속하지 않는 나머지 인풋 엘레먼트에 한해서 속성이 먹여진다
    여기서는 submit 버튼을 제외한 로그인과 패스워드 창에 속성을 먹이게 된다
     그 두 엘레머트에다가 밑줄 전환효과를 먹이자
      이렇게 border-color에다가 전환효과를 줘서 focus 됐을때 스무스하게
       보더 컬러가 전환되게 해보자  */

#login-form input:focus {
  border-color: var(--focused-color);
}
/* focus 됐을때 보더 컬러도 조금더 진해지게 설정해보자 */
/* 근데 항상 이렇게 rgba로 컬러 속성을 먹이기 귀찮으므로 변수(valuables)를 써서 
색상을 지정해보자 */

#login-form input::placeholder {
  color: var(--placeholder-color);
}
/* placeholder에도 투명도를 먹여서 일체감 있게 만들자 */
/* 또 하나 해야될게 커서가 input창에 focus될떄 자꾸 안예쁜 틀이 생긴다 이를 이 프로젝트에서 
모두 한꺼번에 없애기 위해 reset.css로 가서 outline을 none으로 해주자 */

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
}
/*cursor 속성을 줘서 버튼위에서의 커서 모양도 바꿀 수 있음  */
/* 이렇게 attribute selector를 써서 submit버튼만 속성을 먹이자 */
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  /*inherit은 상속이라는 뜻이다. 즉 컬러에 inherit속성을 먹이면 부모 엘레먼트의 색이 상속된다 부모인 #login-form은 색을 정하지 않았다 즉 디폴트값인 black이 먹여진다*/
  font-size: 13px;
}

/*   알아야할 것이 하나 있다. 우리는 form을 만들때 class를 별로 쓰지 않았고 BEM도 안 지켰다
     그 상태로 하려니깐 :not() 같은 것도 쓰고 해서 코드 더러워졌다 */
/*   즉 클래스와 BEM을 쓰자!! */
