.settings-list__column {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.settings-list__column-left {
  display: flex;
  align-items: center;
}
.settings-list__column-left i {
  /* text-align: center; */
  width: 25px;
  font-size: 20px;
}
.settings-list__column-left h1 {
  font-size: 18px;
  font-weight: bold;
}
.settings-list__column-left span {
  margin: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  color: white;
  width: 19px;
  height: 19px;
  background-color: tomato;
  border-radius: 50%;
}
.settings-list__column-right {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
