.screen-header {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px 20px 20px;
  align-items: center;
  /* position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
   */
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}
/* 이렇게 header를 만들고 나면 다른 스크린에도 이 서식을 똑같이
    적용하면 된다!! html에서 icon만 바꾸면 돼!! */

@keyframes RotateCog {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: RotateCog 2s linear infinite;
}
